<nav class="lp-nav" id="lp-nav">
  <a href="#about" class="lp-nav__link">About</a>
  <a href="#request" class="lp-nav__link">Request a school</a>
  <a href="#login" class="lp-nav__link">Login</a>
</nav>
