<div class="popup" style="display: none">
  <div class="popup__dialog">
    <h3 class="text-size-38 mb-lg">Request was successfully created!</h3>
    <div class="text-large text-bold mb-md">Your school information</div>
    <div class="mb-lg d-flex text-bold">
      <div>
        <div class="text-color-muted">Name</div>
        <div class="text-color-muted">City</div>
        <div class="text-color-muted">State</div>
        <div class="text-color-muted">Number of requests</div>
      </div>
      <div class="ml-sm">
        <div class="text-color-muted">:</div>
        <div class="text-color-muted">:</div>
        <div class="text-color-muted">:</div>
        <div class="text-color-muted">:</div>
      </div>
      <div class="ml-lg">
        <div>Little Smiles School</div>
        <div>Adak</div>
        <div>Alaska</div>
        <div>3</div>
      </div>
    </div>
    <p class="text-color-muted text-small">Thank you for signing up! Please share your request link to get greater than 10 people at your school signed up.</p>
    <a href="http://parentdb-staging.online/signup_requests/new?school_id=4" class="text-small">http://parentdb-staging.online/signup_requests/new?school_id=4</a>
    <button type="button" class="popup__btn-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <g fill="none" fill-rule="evenodd" stroke="#000" stroke-linecap="round" stroke-linejoin="round">
          <path d="M.5.5l23 23M23.5.5l-23 23"></path>
        </g>
      </svg>
    </button>
  </div>
</div>