<div class="popup" style="display: none">
  <div class="popup__dialog">
    <h3>Request was successfully created!</h3>
    <div class="text-large">Your school information</div>
    <p class="text-color-muted">
      Thank you for signing up! Please share your request link to get greater than 10 people at your school signed up.
    </p>
    <a href="http://parentdb-staging.online/signup_requests/new?school_id=4">http://parentdb-staging.online/signup_requests/new?school_id=4</a>
    <button type="button" class="popup__btn-close">
      <img src="/images/icon-close-popup.svg" alt="">
    </button>
  </div>
</div>