<a href="#" class="lp-card" style="max-width: 340px;">
  <div class="lp-card__header">
    <img src="https://unsplash.it/81/88" class="lp-card__logo" alt="">
  </div>
  <div class="lp-card__body">
    <h4 class="lp-card__heading">The Chinese Immersion School at De Avila </h4>
    <p class="lp-card__content">Established in 2009, this is the 5th of San Francisco’s Chinese Immersion Programs. By providing a rigorous Chinese and English academic program in a fun and supportive environment, CIS gives children the confidence, scholastic preparation, and cognitive development they need to succeed in the 21st century.</p>
  </div>
</a>
