<p class="text-size-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci porro eos tempora iusto sint aspernatur facilis totam dolor perspiciatis.</p>

<h2 class="text-size-36">Lorem ipsum, dolor sit amet consectetur adipisicing.</h2>