<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone number</th>
      <th scope="col">Address</th>
      <th scope="col">Children?</th>
    </tr>
  </thead>
  <tbody class="text-size-14">
    <tr>
      <th scope="row">1</th>
      <td>
        <a href="">Champlin Sharon</a>
      </td>
      <td><i class="far fa-envelope"></i> champlin.sharon@jonas.ca</td>
      <td>931-332-7568</td>
      <td>0324 Logan Tunnel</td>
      <td>Virginia Watts</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>
        <a href="">Champlin Sharon</a>
      </td>
      <td><i class="far fa-envelope"></i> champlin.sharon@jonas.ca</td>
      <td>931-332-7568</td>
      <td>0324 Logan Tunnel</td>
      <td>Virginia Watts</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>
        <a href="">Champlin Sharon</a>
      </td>
      <td><i class="far fa-envelope"></i> champlin.sharon@jonas.ca</td>
      <td>931-332-7568</td>
      <td>0324 Logan Tunnel</td>
      <td>Virginia Watts</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>
        <a href="">Champlin Sharon</a>
      </td>
      <td><i class="far fa-envelope"></i> champlin.sharon@jonas.ca</td>
      <td>931-332-7568</td>
      <td>0324 Logan Tunnel</td>
      <td>Virginia Watts</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>
        <a href="">Champlin Sharon</a>
      </td>
      <td><i class="far fa-envelope"></i> champlin.sharon@jonas.ca</td>
      <td>931-332-7568</td>
      <td>0324 Logan Tunnel</td>
      <td>Virginia Watts</td>
    </tr>
  </tbody>
</table>
