<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Grade</th>
      <th scope="col">Slug</th>
      <th scope="col">Capacity</th>
      <th scope="col">Uncharted?</th>
      <th scope="col">Alumni?</th>
      <th scope="col">Ratio</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="text-size-14">
    <tr>
      <th scope="row">1</th>
      <td>205</td>
      <td>1st</td>
      <td>205-1st</td>
      <td>29</td>
      <td>False</td>
      <td>False</td>
      <td>13%</td>
      <td>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Show</button>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="btn btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>205</td>
      <td>1st</td>
      <td>205-1st</td>
      <td>29</td>
      <td>False</td>
      <td>False</td>
      <td>13%</td>
      <td>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Show</button>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="btn btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>205</td>
      <td>1st</td>
      <td>205-1st</td>
      <td>29</td>
      <td>False</td>
      <td>False</td>
      <td>13%</td>
      <td>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Show</button>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="btn btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>205</td>
      <td>1st</td>
      <td>205-1st</td>
      <td>29</td>
      <td>False</td>
      <td>False</td>
      <td>13%</td>
      <td>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Show</button>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="btn btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>205</td>
      <td>1st</td>
      <td>205-1st</td>
      <td>29</td>
      <td>False</td>
      <td>False</td>
      <td>13%</td>
      <td>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Show</button>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="btn btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>205</td>
      <td>1st</td>
      <td>205-1st</td>
      <td>29</td>
      <td>False</td>
      <td>False</td>
      <td>13%</td>
      <td>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Show</button>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="btn btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
