<table class="p-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Student</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="text-size-14">
    <tr>
      <th scope="row">1</th>
      <td>2018 - 2019</td>
      <td>Next</td>
      <td>15 August, 2018</td>
      <td>30 June, 2018</td>
      <td>400</td>
      <td>
        <button class="p-btn p-btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="p-btn p-btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
