<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <label for="all">
          <input type="checkbox" id="all" name="all">
          <span>#</span>
        </label>
      </th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Method</th>
      <th scope="col">User info</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="text-size-14">
    <tr>
      <th>
        <label for="4">
          <input type="checkbox" id="4" name="4">
          <span>4</span>
        </label>
      </th>
      <td>24 May 2018</td>
      <td>$10.00</td>
      <td>Cash</td>
      <td>Champlin Sharon - champlin.sharon@jonas.ca - 0324 Logan Tunnel</td>
      <td>
        <div class="d-flex align-items-center">
          <div class="dot-mario dot-mario--4 mr-sm"></div> New
        </div>
      </td>
      <td>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="btn btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
    <tr>
      <th>
        <label for="3">
          <input type="checkbox" id="3" name="3">
          <span>3</span>
        </label>
      </th>
      <td>24 May 2018</td>
      <td>$10.00</td>
      <td>Cash</td>
      <td>Champlin Sharon - champlin.sharon@jonas.ca - 0324 Logan Tunnel</td>
      <td>
        <div class="d-flex align-items-center">
          <div class="dot-mario dot-mario--3 mr-sm"></div> Pending
        </div>
      </td>
      <td>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="btn btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
    <tr>
      <th>
        <label for="2">
          <input type="checkbox" id="2" name="2">
          <span>2</span>
        </label>
      </th>
      <td>24 May 2018</td>
      <td>$10.00</td>
      <td>Cash</td>
      <td>Champlin Sharon - champlin.sharon@jonas.ca - 0324 Logan Tunnel</td>
      <td>
        <div class="d-flex align-items-center">
          <div class="dot-mario dot-mario--3 mr-sm"></div> Pending
        </div>
      </td>
      <td>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="btn btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
    <tr>
      <th>
        <label for="1">
          <input type="checkbox" id="1" name="1">
          <span>1</span>
        </label>
      </th>
      <td>24 May 2018</td>
      <td>$10.00</td>
      <td>Cash</td>
      <td>Champlin Sharon - champlin.sharon@jonas.ca - 0324 Logan Tunnel</td>
      <td>
        <div class="d-flex align-items-center">
          <div class="dot-mario dot-mario--2 mr-sm"></div> Paid
        </div>
      </td>
      <td>
        <button class="btn btn--link text-color-primary text-size-14 mr-md">Edit</button>
        <button class="btn btn--link text-color-danger text-size-14">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
