<div class="p-modal" style="display: none;">

  <div class="p-modal__dialog">
    <div class="p-modal__header">
      <div class="p-modal__title">Delete school year</div>
      <button type="button" class="p-modal__btn-close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="p-modal__body">
      [Modal content go here]
    </div>
  </div>
</div>
