// stylelint-disable primer/selector-no-utility

.text-bold {
  font-weight: $font-weight-bold;
}

.text-large {
  font-size: $font-size-h4;
}

.text-small {
  font-size: $font-size-small;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $color-brand-green;
}

.text-danger {
  color: $color-danger;
}

.text-muted {
  color: $color-text-subtle;
}

