<section class="lp-hero">
  <div class="lp-hero__content">
    <h2 class="lp-hero__heading">Make schools awesome with ParentDB</h2>
    <p class="lp-hero__text mt-lg">ParentDB is a beautiful and easy to use school management platform designed to bring out the best in your school.</p>
    <a href="#" class="btn btn--mario px-xl mt-lg text-uppercase text-bold">Request a school for free</a>
    <p class="lp-hero__text text-small mt-md">Your school already registered?
      <a href="#" class="text-muted">Log in</a>
    </p>
  </div>
  <div class="lp-hero__image">
    <img src="/images/lp-hero.png" alt="Landing page hero">
  </div>
</section>
