<div class="aoc">
  <div class="aoc__aside">
    {{> molecules-admin-nav}}
  </div>
  <div class="aoc__content">
    <div class="aoc__content-header">
      <div class="container-fluid">

        <div class="d-flex align-items-center">

          <img src="/images/school-logo@2x.png" width="64" height="64" alt="">

          <div class="ml-md">
            <div class="text-bold">CIS De Avila 2017-2018</div>
            <div class="text-small text-color-muted">1250 Waller Street, San Francisco, CA</div>
          </div>

          <div class="ml-auto">
            <div class="d-flex align-items-center">

              <div class="text-right mr-md">
                <div class="text-bold">Giang Nguyen</div>
                <div class="text-small text-color-muted">Staff</div>
              </div>

              <img src="https://unsplash.it/48/48" width="48" height="48" class="mr-sm rounded-circle" alt="">

              <i class="fas fa-caret-down text-color-muted"></i>

            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="container-fluid py-lg">
      <div class="d-flex align-items-center mb-lg">

        <div>
          <div class="text-bold">Users</div>
          <div class="d-flex text-small">
            <a href="#" class="text-color-muted">Home</a>
            <span class="text-color-muted ml-sm">></span>
            <a href="#" class="text-color-muted ml-sm">Dashboard</a>
            <span class="text-color-muted ml-sm">></span>
            <span class="text-small text-color-muted ml-sm">Users</span>
          </div>
        </div>

        <div class="ml-auto d-flex">
          <input type="text" class="form__control form__control--mario text-small" placeholder="Search by name" style="width: 360px;">
          <button class="p-btn p-btn--primary ml-md">Add new classroom</button>
          <button class="p-btn p-btn--lugi ml-md">Export to excel</button>
        </div>

      </div>

      <div class="table-height-limit mb-lg">
        {{> atoms-table-users}}
      </div>

      <div class="d-flex align-items-center justify-content-end">
        <div class="text-color-muted mr-md text-size-14">Show 20 / 20 results</div>
        {{> molecules-pagination}}
      </div>

    </div>
  </div>
</div>
