<div class="container">
  {{> organisms-lp-header}} {{> organisms-lp-hero}}
</div>

<div class="bg-wild-sand p-lg d-flex align-items-center justify-content-around">
  <p class="mb-0 text-small text-color-muted text-bold">Our partners are world-class:</p>
  <img src="/images/stanford@.png" width="110" height="24" alt="">
  <img src="/images/caltech@.png" width="96" height="24" alt="">
  <img src="/images/chicago@.png" width="168" height="24" alt="">
  <img src="/images/massachusetts@.png" width="51" height="26" alt="">
  <img src="/images/yale@.png" width="56" height="24" alt="">
  <img src="/images/harvard@.png" width="135" height="18" alt="">
</div>

<div class="container">
  <div class="py-lg">
    <h3 class="text-center mb-lg">All for one.
      <br />And one for all.</h3>
    <img src="/images/features@2x.png" alt="">
  </div>

  <div class="py-lg">
    <div class="row">
      <div class="col-sm-6">

        <h3>ParentDB is designed to be the only tool a school community will ever need</h3>

        <p class="text-color-muted">
          In addition to making it very easy to pay your PTA dues and renew your membership, whatever you need, we've got you covered.
          <br>
          <br> Have you ever forgotten the name of another parent? Use ParentDB to look up the names and pictures of other parents,
          organized by the childrens classrooms. You can also create articles, post pictures, get updates from other parents,
          and sign up for events!
          <br>
          <br> Wanna renew your PTA membership, it only takes a click!
        </p>

      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">

        <div class="d-flex align-items-center">
          <div class="dot mr-md">
            <img src="/images/icon-payment.svg" alt="">
          </div>
          <div>
            <div class="text-large">Payment</div>
            <div class="text-small text-color-muted">Easiest way to join the PTA and pay online</div>
          </div>
        </div>

        <div class="d-flex align-items-center mt-xl">
          <div class="dot mr-md">
            <img src="/images/icon-connection.svg" alt="">
          </div>
          <div>
            <div class="text-large">Connection</div>
            <div class="text-small text-color-muted">Get to know parents at your children's school</div>
          </div>
        </div>

        <div class="d-flex align-items-center mt-xl">
          <div class="dot mr-md">
            <img src="/images/icon-update.svg" alt="">
          </div>
          <div>
            <div class="text-large">Update</div>
            <div class="text-small text-color-muted">Get updates from the community and sign up for events</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container py-xl">
  <div id="landing-page-form"></div>
  <form action="/" class="form">
    <h3 class="mb-lg text-center">Request a school</h3>
    <div class="row">

      <div class="col">
        <label for="state" class="text-small mb-md mb-md">State
          <span class="text-color-danger">*</span>
        </label>
        <select name="state" id="state" class="form__control">
          <option value="" hidden="hidden">Select your state</option>
          <option value="1">1</option>
          <option value="1">1</option>
          <option value="1">1</option>
          <option value="1">1</option>
        </select>
      </div>

      <div class="col">
        <label for="city" class="text-small mb-md">City
          <span class="text-color-danger">*</span>
        </label>
        <select name="city" id="city" class="form__control">
          <option value="" hidden="hidden">Select your city</option>
          <option value="1">1</option>
          <option value="1">1</option>
          <option value="1">1</option>
          <option value="1">1</option>
        </select>
      </div>

      <div class="col">
        <label for="school" class="text-small mb-md">School
          <span class="text-color-danger">*</span>
        </label>
        <input type="text" class="form__control" placeholder="Type your school name">
      </div>
    </div>

    <div class="row mt-lg">

      <div class="col">
        <label for="firstname" class="text-small mb-md">First name
          <span class="text-color-danger">*</span>
        </label>
        <input type="text" id="firstname" class="form__control" placeholder="e.g. Emma">
      </div>

      <div class="col">
        <label for="lastname" class="text-small mb-md">Last name
          <span class="text-color-danger">*</span>
        </label>
        <input type="text" id="lastname" class="form__control" placeholder="e.g. Wastson">
      </div>

      <div class="col">
        <label for="email" class="text-small mb-md">Email
          <span class="text-color-danger">*</span>
        </label>
        <input type="text" id="email" class="form__control" placeholder="e.g. emmawastson@email.com">
      </div>

    </div>

    <div class="row mt-lg">
      <div class="col"></div>
      <div class="col text-center">
        <button class="btn btn--mario btn--block text-uppercase" type="submit">Send request</button>
      </div>
      <div class="col"></div>
    </div>
  </form>
</div>

<div class="container py-xl">
  <h3 class="text-center mb-md">Your school already registered?</h3>
  <p class="text-center text-color-muted mb-xl">Select your school. We will redirect you to your school login site.</p>

  <div class="d-flex justify-content-center pt-lg">
    {{> molecules-lp-card}}
  </div>
</div>

<div class="bg-wild-sand py-xl">
  <div class="container">

    <div class="d-flex align-items-center">
      {{> molecules-lp-logo}}
      <div class="ml-auto">
        <a href="#" target="_blank" class="text-color-black ml-md">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" target="_blank" class="text-color-black ml-md">
          <i class="fab fa-google-plus"></i>
        </a>
        <a href="#" target="_blank" class="text-color-black ml-md">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>

    <div class="divider my-lg"></div>

    <div class="d-flex">
      <div class="text-size-14 text-color-muted">©2018 ParentDB. All right reserved</div>

      <div class="ml-auto">
        <a href="#" class="ml-md text-color-muted">Privacy Policy</a>
        <a href="#" class="ml-md text-color-muted">Contact us</a>
        <a href="#" class="ml-md text-color-muted"> FAQs</a>

      </div>
    </div>

  </div>
</div>

<script src="/js/landing-page-form.js"></script>
