<div class="mb-lg form__group form__group-addon">
  <div class="form__addon">
    <i class="far fa-calendar-alt"></i>
  </div>
  <input type="text" class="form__control form__control--lugi" placeholder="Text input" />
</div>
