<div class="mb-lg form__group">
  <input type="text" class="form__control" placeholder="Text input" />
  {{# error}}
    <div class="form__error">Error: Something went wrong</div>
  {{/ error}}
</div>
<div class="mb-lg form__group">
  <input type="email" class="form__control" placeholder="Email input" />
  {{# error}}
    <div class="form__error">Error: Something went wrong</div>
  {{/ error}}
</div>
<div class="mb-lg form__group">
  <input type="password" class="form__control" placeholder="Password input" />
  {{# error}}
    <div class="form__error">Error: Something went wrong</div>
  {{/ error}}
</div>
<div class="mb-lg form__group">
  <input type="number" class="form__control" placeholder="Number input" />
  {{# error}}
    <div class="form__error">Error: Something went wrong</div>
  {{/ error}}
</div>
