<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #95e1d3;"></span>
		<span class="sg-label">
			$color-brand
			<br /> #95e1d3
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6dd6c3;"></span>
		<span class="sg-label">
			$color-brand-dark
			<br /> #6dd6c3
		</span>
	</li>
</ul>
