<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">
			$color-white
			<br /> #fff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">
			$color-black
			<br /> #000
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3d3935;"></span>
		<span class="sg-label">
			$color-merlin
			<br /> #3d3935
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4a4a4a;"></span>
		<span class="sg-label">
			$color-tundora
			<br /> #4a4a4a
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #b1b0ae;"></span>
		<span class="sg-label">
			$color-cloudy
			<br /> #b1b0ae
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a7a7a7;"></span>
		<span class="sg-label">
			$color-silver-charlice
			<br /> #a7a7a7
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f2f2f2;"></span>
		<span class="sg-label">
			$color-concrete
			<br /> #f2f2f2
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #008efa;"></span>
		<span class="sg-label">
			$color-azure
			<br /> #008efa
		</span>
	</li>
</ul>
