.btn {
  display: inline-block;
  padding: $space-md;

  font-size: 14px;
  font-weight: $font-weight-bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;

  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: $anim-speed-quick background-color $anim-ease;

  @include border;
  @include hover-focus {
    text-decoration: none;
  }

  $buttons-variant: (
    primary: $color-primary,
    mario: $color-azure,
    danger: $color-danger
  );

  @each $button, $bg in $buttons-variant {
    &--#{$button} {
      color: $color-white;
      background-color: $bg;

      @include hover-focus {
        background-color: darken($bg, 10%);
      }
    }
  }

  &--mario {
    border-radius: $border-radius;
  }

  &--lugi {
    background-color: $color-white;
    border: 1px solid $color-merlin;

    transition: color 0.3s ease-in, border 0.3s ease-in;

    &:hover,
    &:focus {
      color: $color-brand;

      border-color: $color-brand;
    }
  }

  &--large {
    padding: $space-md $space-lg;
  }

  &--block {
    display: block;
    width: 100%;
  }
}
