// stylelint-disable selector-no-qualifying-type, selector-max-specificity, selector-max-type

.form {
  &__control {
    display: block;
    width: 100%;
    height: 48px;
    padding: $space-sm $space-md;

    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-text;

    background-color: $color-white;
    border: 0;
    border-radius: $border-radius;
    box-shadow: 1px 1px 20px rgba($color-santas-gray, 0.3);

    transition: box-shadow 0.3s ease-in;

    appearance: none;

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      box-shadow: 1px 1px 20px rgba($color-santas-gray, 0.6);
    }

    &--mario {
      background-color: rgba($color-merlin, 0.1);
      border-radius: 0;
      box-shadow: none;

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }

    &--lugi {
      background-color: $color-white;
      border: 1px solid $color-black;
      border-radius: 0;
      box-shadow: none;

      &:hover,
      &:focus {
        border-color: $color-brand;
        box-shadow: none;
      }
    }
  }

  &__group {
    position: relative;
  }

  &__group-addon {
    .form__control {
      padding-left: ($space-md + $space-lg);
    }
  }

  &__addon {
    position: absolute;
    top: 50%;
    left: $space-md;
    transform: translateY(-50%);
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    padding: $space-sm $space-md;

    font-size: $font-size-h6;
    color: $color-danger;
  }
}

select.form__control:not([size]):not([multiple]) {
  height: 48px;
}

textarea.form__control {
  height: auto;
}

label > span {
  font-weight: $font-weight-base;
  cursor: pointer;
  user-select: none;
}
