<a class="p-btn p-btn--primary" href="#" role="button">Link</a>
<button class="p-btn p-btn--primary" type="submit">Button</button>
<input class="p-btn p-btn--primary" type="button" value="Input">
<input class="p-btn p-btn--primary" type="submit" value="Submit">
<input class="p-btn p-btn--primary" type="reset" value="Reset">
