// stylelint-disable primer/selector-no-utility
// Background colors
.bg-danger {
  background-color: $color-danger;
}

.bg-white {
  background-color: $color-white;
}

.bg-wild-sand {
  background-color: $color-wild-sand;
}
