// stylelint-disable primer/selector-no-utility

.text-bold {
  font-weight: $font-weight-bold;
}

.text-large {
  font-size: $font-size-h4;
}

.text-small {
  font-size: $font-size-small;
}

.text-size-14 {
  font-size: 14px;
}

.text-size-36 {
  font-size: 36px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-color-primary {
  color: $color-brand;
}

.text-color-danger {
  color: $color-danger;
}

.text-color-muted {
  color: $color-text-subtle;
}

.text-color-black {
  color: $color-black;
}

.text-uppercase {
  text-transform: uppercase;
}
