<div class="text-color-primary">.text-color-primary</div>
<div class="text-color-danger">.text-color-danger</div>
<div class="text-color-muted">.text-color-muted</div>
<div class="text-color-black">.text-color-black</div>